@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h3>Upload a File :)</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="fileUpload.FileName" class="control-label"></label>
                <input asp-for="fileUpload.FileName" type="text" class="form-control" />
                <span asp-validation-for="fileUpload.FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fileUpload.File" class="control-label"></label>
                <input asp-for="fileUpload.File" type="file" class="form-control" style="height:auto" />
                <span asp-validation-for="fileUpload.File" class="text-danger"></span>
            </div>
            <input type="submit" value="Upload" class="btn-default" />
        </form>
    </div>
</div>

<p></p>
<br>
<h3>Uploaded Files as Seen in Azure Storage</h3>
<table class="table">
    <tbody>
        @foreach (var item in Model.myFiles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    <a asp-page-handler="DownloadFile" asp-route-id="@item.FileName">Download</a>
                </td>
            </tr>
        }
    </tbody>
</table>
